{% extends "auctions/layout.html" %}

{% block body %}


    {% if user.is_authenticated %}
        <form action="" method="post" style="display: block; padding: 40px;" enctype="multipart/form-data">
            {% csrf_token %}


            {% if created %}
                <div class="alert alert-success" role="alert">
                    Listing Successfully Created!
                </div>
            {% endif %}

            <table style="width: 100%; display: flex; justify-content: center; padding-right: 50px; background-color: white; border: 1px solid orange; padding: 30px; border-radius: 20px;">
                <tr>
                    <td style="padding-bottom: 30px; color: #01bd6f;"><h3>New Listing</h3></td>
                </tr>
                <tr style="margin: 10px;">
                    <td><label>Title:</label></td>
                    <td>{{form.title}}</td>
                </tr>
                <tr  style="margin: 10px;">
                    <td><label>Description:</label></td>
                    <td>{{form.description}}</td>
                </tr>
                <tr style="margin: 10px;">
                    <td><label>Category:</label></td>
                    <td>{{form.category}}</td>
                </tr>
                <tr style="margin: 10px;">
                    <td><label>Starting Bid:</label></td>
                    <td>{{form.startBid}}</td>
                </tr>
                <tr style="margin: 10px;">
                    <td style="padding-top: 30px;"><label>Link to Image (URL):</label></td>
                    <td style="padding-top: 30px;">{{form.imageURL}}</td>
                </tr>
                <tr>
                    <td><p style="padding-top: 20px; font-weight: 600;">OR:</p></td>
                </tr>
                <tr>
                    <td>
                        Upload an image:
                    </td>
                    <td>
                        {{form.auction_image}}
                    </td>
                </tr>
                <tr><td></td><td style="display: flex; justify-content: flex-end;">
                    <input type="submit" value="Create Listing" style='margin-top: 20px;' class="createButton">
                </td></tr>
            </table>
            

        </form>
    {% else %}
        <div style="width: 100%; display: flex; justify-content: center; padding-top: 10vh;">
            <a href="{% url 'login' %}">
                <button class="loginButton">
                    Login First
                </button>
            </a>
        </div>
    {% endif %}

{% endblock %}