{% extends "auctions/layout.html" %}

{% block body %}
    <h3 style="padding: 30px; color: #01bd6f">Active Listings</h3>

    <div class='row' style="margin: 20px;">
        {% for l in listings %} 
            <div class="card listingCard">

                <div class="card-body">
                    <a href="{% url 'listing' id=l.id %}">
                        {% if l.auction_image %}
                            <img class="card-img-top listingImage" src="{{ l.auction_image.url }}" alt="">
                        {% else %}
                            <img class="card-img-top listingImage" src="{{ l.imageURL }}" alt="">
                        {% endif %}
                        <h5 class="card-title linkText"> {{l.title}}</h5>
                    </a>
                        <p class="card-text">{{l.description}}</p>
                        {% if l.currentBid <= 0 %}
                            <h6 class="card-text">Price: ${{l.startBid}}0</h6>
                        {% else %}
                            <h6 class="card-text" style="color:green">Price: ${{l.currentBid}}0</h6>
                        {% endif %}

                    
                </div>

            </div>
        {% endfor %}
    </div>
{% endblock %}